@model FolderTree.Models.Folder

@{
	ViewData["Title"] = Html.DisplayFor(model => model.Name);
}

<h1>"Folder" -@Html.DisplayFor(model => model.Name)</h1>

<div>
	@foreach(var item in Model.SubFolders)
	{
		<a asp-action="ShowSubFolders" asp-route-id="@item.Id"> @Html.DisplayFor(model => item.Name) </a>
		<br />
	}	
</div>